@use "./components/Logo";
@use "./components/Navbar";
@use "./components/Home";
@use "./components/Footer";

.menuContainer {
  text-align: center;
  color: #fff;

  & h1 {
    background-image: url("/ilus.png");
    background-size: 100%;
  }

  & section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2%;
    // border: 1px solid #fff;

    & .menuItems {
      // border: 1px solid #fff;

      & picture {
        display: flex;
        width: 100%;
        max-width: 400px;
        height: auto;
        margin: auto;

        & img {
          width: 100%;
          max-width: 400px;
          border-radius: 15px;
          box-shadow: 0 0 3px #fbff17;
        }
  
        &::before {
          content: "";
          position: absolute;
          width: 95%;
          max-width: 400px;
          height: 45%;
          max-height: 200px;
          border-radius: 15px;
          background: rgba(112, 111, 111); /* Fondo semi-transparente */
          z-index: -1; /* Colocar detrás de la imagen */
          animation: loading 2s linear infinite; /* Animación de carga */
          transition: animation 0.3s ease-in-out;
        }
      }

      & div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        max-width: 400px;
        margin: auto;
        transform: translate(0, -25px);

        & h2,
        p {
          color: #fffb00;
          text-shadow: -2px -2px 0 #ff0000, 2px -2px 0 #ff0000, -2px 2px 0 #ff0000,
            2px 2px 0 #ff0000;
          font-size: 1.3rem;
          font-weight: 800;
        }
      }

      & .description {
        width: 100%;
        max-width: 400px;
        margin: auto;
        text-align: start;
        transform: translate(0, -20px);
      }
      
    }
  }

  @keyframes loading {
    0%,
    100% {
      opacity: 0.1;
      background: rgba(112, 111, 111, 0.8);
    }
    50% {
      opacity: 1;
      background: rgba(44, 42, 42, 0.8);
    }
  }
}
